@import "tailwindcss";


@theme {
    --color-primary: #08602E;
    --color-secondary: #058C42;
    --color-light: #B9DBC6;
    --very-pale-green: #CCDDD3;
    --light-neutral-gray: #EFEFEF;
    --pure-black: #000000;
    --pure-white: #FFFFFF;
    --main-font-size: 20px;

}

@layer base {
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
}

@layer components {
  .page-padding {
    @apply px-6 md:px-12 lg:px-[200px];
  }
}

body{
    font-size: var(--main-font-size);
}

/* Webkit (Chrome, Safari, Edge) */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
 
/* Firefox */
.hide-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
}
 

@layer utilities {
  .animate-fadeIn {
    animation: fadeIn 0.8s ease forwards;
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(16px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
}